.module.MMM-WeeksCalendar .calendar-daysinweek,
.module.MMM-WeeksCalendar .calendar-days {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.module.MMM-WeeksCalendar .calendar-days [today] {
    color: #000;
    background-color: #ccc;
    border-radius: 5%;
    font-weight: 600;
}

.module.MMM-WeeksCalendar .prefill,
.module.MMM-WeeksCalendar .postfill {
    color: #666666;
}

.module.MMM-WeeksCalendar .calendar-daysinweek div,
.module.MMM-WeeksCalendar .calendar-days div {
    padding: 2px 0;
    margin: 0 8px;
}

.module.MMM-WeeksCalendar .module-content { text-align: center; }
